<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#0d47a1">
    <title>Day With Your Dog</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <!-- FONT AWESOME LINK -->
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Firebase Reference -->
    <script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
    <!-- CSS  -->
    <link href="/assets/css/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/custom-min.css" type="text/css" rel="stylesheet">
    <!-- STYLE SHEET -->
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">

    <!-- Compiled and minified JavaScript -->
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> --}}
    <!-- handlebars cdn
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script> -->

</head>

<!-- ================= START OF HTML ================= -->

<body id="top" class="scrollspy">

{{{body}}}

</body>

</html>