


.btn-large {

	width: 100%;
	height: 64px;
  font-size: 1.25em;
}

#map {

	width: 100%;
  height: 400px;
        
}

img.cardImage {
	height: 200px;
	width: 300px;

}

.itemInfo {
	margin-bottom: 5px;
}

nav .brand-logo {
  letter-spacing: 0.0525em;
  font-weight: 300;

}




input[type=text], input[type=email] { 
  color: white;
}

/*COLORS FOR THE LOCATION TYPE BAR*/
  /* label color */
   .input-field label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: white;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: white;
   }
h1{
    color: white;
}